{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">ALPHA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-xlarge">We can not find your details</h1>
      
      <p>Based on the information you have given us we are not able to match you.</p>
            
      <h2 class="heading-large">Next steps</h2>
      
      <h2 class="heading-medium">If you had a valid reason not to pay</h2>
      
      <p>
        If you feel you had a valid reason not to pay the penalty charge you can tell us.
      </p>
      
      <p>
        <a class="button" href="">Tell us about a valid reason not to pay</a>
      </p>
      
      <h2 class="heading-medium">Pay the penalty charge</h2>
      
      <p>
        Alternaitively you should pay the penalty charge.
      </p>
      
      <p>
        <a class="button" href="../pay/start">Make a payment</a>
      </p>  
 
    </div>
    
  </div>

</main>

{% endblock %}