{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
      
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <p>Chalenge an NHS Penalty Charge Notice</p>
        <h1 class="heading-large">
          Your Prescription Prepayment expired on 1 September 2017        
        </h1>
      </div>
              
      <p>You must pay the prescription costs and the penalty charges.</p>

      <p>
        <a class="button" href="../pay/start">Pay now</a>
      </p>

      
      </div>
      
    </div>      
    
</main>

{% endblock %}
