{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
    
  <div class="grid-row">
    <!--div class="column-two-thirds">

    <div class="details">
      <h2 class="heading-medium">Pre-paymentetails</h2>
      <p class="valid">Valid dates</p>
      <h2 class="heading-medium bignumbers"><span>from:</span> 20 July 2016</h2>
      <h2 class="heading-medium bignumbers"><span>to:</span> 21 July 2017</h2> 
    </div>
    </div-->
    
    <div class="column-two-thirds">
      
<!--
      <div class="done-panel">
        
        <h1 class="heading-large"><span id="done-tick"> </span>Done</h1>
        <h2 class="heading-medium">Your Penalty Charge Notice has been deleted.</h2>
    
      </div>
-->
      
      <h1 class="heading-xlarge">We'll be back...</h1>
            
      <p>1) Send details to DWP ...</p>
      <p>2) Get info back from DWP ...</p>
      <p>3) Contact user ...</p>
      <p>Q) Is this on hold?..</p>

      </div>
    
  </div>

</main>

{% endblock %}