{% extends "layout_bsa.html" %}

{% block page_title %}
  Challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
    <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
      <div class="heading-group">
        <h1 class="heading-xlarge">Pay or challenge a Penalty Charge Notice</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
                
        <p>
          If you have received an NHS Penalty Charge Notice you must respond as soon as possible. 
        </p>
        
        <p>
          You have 3 options:
        </p>
        
        <ul class="list list-bullet">
          <li>pay your Penalty Charge Notice – in full or in instalments</li>
          <li>tell us if there has been a mistake – answer a few questions so we can better match your details</li>
          <li>tell us if you have an exceptional reason not to pay</li>
        </ul>
        
        <p>
          You will need your 9-digit PCN number. This can be found on your Penalty Charge Notice letter.
        </p>
      </div>

      <form action="pcn-number" method="get" class="form">

          <div class="form-item-wrapper">
            <div class="form-group">
              <input class="button button-get-started" type="submit" value="Start">
            </div>
          </div>
        
        </form>
      
<!--
        <br>
        <h2 class="heading-small">Pay a Penalty Charge Notice</h2>
        <p>
          If you want to pay a Penalty charge notice you can <a href="../pay/start">pay online</a>.
        </p>        
                 
-->
      </div>
      
    </div>
      
  </div>
  
</main>

{% endblock %}
