{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">ALPHA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-xlarge">We can not find your details.</h1>
      
    <p>To close penalty this penalty charge you need to do one of the following:</p>
      
      <ul class="list list-bullet">
        <li><a href="">Prove your entitlement to {{benefit}} </a></li>
        <li><a href="matex">Apply for a Maternity Exemption certificate</a></li>
      </ul>
                  
<!--
      <h2 class="heading-medium">Prove your entitlement to income suport</h2>
      
      <p>
        Alternaitively you should <a href="../pay/start">pay the penalty charge</a>.
      </p>
      
      <h2 class="heading-medium">Apply for a Maternity Exemption certificate</h2>
            
      <p>
        Because you told us you were pregnant or given birth between 1 July &amp; 30 July 2017 you can 
      </p>
      
      <h3 class="heading-small">Pay the penalty charge</h3>
      
      <p>
        Alternaitively you should <a href="../pay/start">pay the penalty charge</a>.
      </p>
-->
       
    </div>
    
  </div>

</main>

{% endblock %}