{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">ALPHA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-xlarge">We can not find your Maternity Exemption Certificate</h1>
      
      <p>Based on the information you have given us we can not find a valid Maternity Exemption Certificate for {{checkdate}}.</p>
      
      <p>But you may be able to apply for one.</p>
            
<!--      <h2 class="heading-large">Next steps</h2>-->
            
      <ul class="list list-bullet">
        <li><a href="">Go to your Midwife and apply for a Maternity exemption certificate.</a></li>
        <li><a href="">Provide evidence you had a certificate.</a></li>
        <li><a href="">Pay the penalty charge.</a></li>
      </ul>
      
<!--
      <p>Penalty charge number 098765432 is on hold for 60 days. We will check again...</p>
      
      <p>
        Alternaitively you should pay the penalty charge.
      </p>
-->
      
<!--
      <p>
        <a class="button" href="../pay/start">Make a payment</a>
      </p>  
 
-->
    </div>
    
  </div>

</main>

{% endblock %}