{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>

  <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-large">
      Your {{title}} did not cover you between {{checkdate}}
    </h1>
      
      <div class="panel panel-border-wide">
        <p>{{title}} reference 877655433 ran out on 31 May 2017.</p>
      </div>
      
      <p>Based on the information you have given us we are not able to match you.</p>
            
      <h2 class="heading-large">Next steps</h2>
      
      <h2 class="heading-medium">Give us another reference number</h2>
      
      <p>
        If you have a reference number for another {{title}} we can check it for you.
      </p>
      
      <p>
        <a class="" href="cert-number">Enter another reference number</a>
      </p>
      
      <h2 class="heading-medium">Tell us you had a valid reason not to pay</h2>
      
      <p>
        If you feel you have a valid reason not to pay the penalty charge you can tell us.
      </p>
      
      <p>
        <a class="" href="">Tell us about a valid reason not to pay</a>
      </p>
      
      <h2 class="heading-medium">Pay the penalty charge</h2>
      
      <p>
        Alternaitively you should pay the penalty charge.
      </p>
      
      <p>
        <a class="" href="../pay/summary">Make a payment</a>
      </p>  
 
    </div>
    
  </div>

</main>

{% endblock %}