{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    
    <div class="column-full">
      
      <div class="phase-banner">
        
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
        
      </div>
      
      <div class="heading-group">
        
        <p>Pay or challenge a Penalty Charge Notice</p>
        
        <h1 class="heading-xlarge">Penalty Charge Notice {{ref}} </h1>
        
      </div>
      
      <p>
        For
          {% if (ticked == 'K') %}
            dental treatment received
          {% else %}
            a prescription claimed 
          {% endif %}
        between
        {{checkdate}}.
      </p>
      
      <div class="panel panel-border-wide">
        
        <h3 class="heading-medium">Don’t delay</h3>
        
        <p>
          You have <span class="strong">28 days</span> to start paying or challenge this Penalty Charge Notice (by {{challengeDate}}). Otherwise an extra fine of up to £50 will be added to these charges.
        </p>
        
      </div>
      
    </div>
    
  </div>
    
  <div class="grid-row">
    
    <div class="column-half">
      
      <div class="info-panel highlight">
        
        <h2 class="heading-large">Pay</h2>
        
        
        <!-- dental -->
        {% if (ticked == 'K') %}
        <div class="prescription-details">
          <p>
            <span>
              Dental charges
            </span>
              £244
          </p>
          
          <p>
            <span>Penalty charge</span>
            £100
          </p>
          
          <p>
            <span>Total due</span>
            £344
          </p>
        </div>
        {% else %}
        <!-- prescription -->
        <div class="prescription-details">
          <p>
            <span>
                Prescription charges 
            </span>
            £8.60
          </p>
          
          <p>
            <span>Penalty charge</span>
            £43.00
          </p>
          
          <p>
            <span>Total due</span>
            £51.60
          </p>
        </div>
        {% endif %}

        
        <p>
          You can pay in full so that your debt is cleared straight away, or you can pay it off in instalments.
        </p>
        
        <p>
          You will need a debit or credit card.
        </p>
          
     {% if (plan == 344) %}
          
          <form class="form" action="payfull-handler">
              
        <div class="form-group">
          <input class="button" type="submit" value="Pay in full">
        </div>
          
              </form>
              
              
          
        <p>
          <a href="../pay-penalty/options">Pay in instalments</a>
        </p>  
          
          {% elseif (plan == 86) %}
          
                    <form class="form" action="remainder-handler">
              
        <div class="form-group">
          <input class="button" type="submit" value="Pay remainder in full">
        </div>
          
              </form>
              
          
          <p>
            <a href="followup-handler">Pay next instalment</a>
          </p>
          
          {% elseif (plan == 172) %}
          
                    <p>
            <a href="followup-handler">Pay next instalment</a>
          </p>
          
          {% endif %}  
        
        
      </div>   
      
    </div>
    
    <div class="column-half">
      
      <div class="info-panel no-highlight">
        
        <h2 class="heading-large">Details on the prescription</h2>
                 
            <p>
              <span>
                {% if (ticked == 'K') %}
                  Dental treatment
                {% else %}
                  Prescription 
                {% endif %}
                  for
              </span>
              {{name}}
            </p>
            
            <p>
              <span>Address shown on the prescription</span> 
              3 Old Street, Old Town NE1 0LD
            </p>
            
            <p>
              <span>Date of birth</span>
              01 January 1985
            </p>
            
            <p>
              <span>Exemption reason ticked</span>
              {{cat}}
            </p>  
        
        </div>
        
         <div class="info-panel no-highlight">
           
          <h2 class="heading-large head-2">
            Challenge
          </h2>
           
           <p>
            <a class=" " href="did-you-have">Tell us if there has been a mistake</a>
          </p>
          
          <p>
            <a class=" " href="">Tell us if you had an exceptional reason not to pay</a>
          </p>

          </div>
          
        </div>
        
      </div>
      
  
</main>

{% endblock %}