{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
      
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <p>NHS Penalty Charge Notice</p>
        <h1 class="heading-large">
          Check these details 
        </h1>
      </div>
        
      <div>
          <p>
            <span class="strong">Prescription for: </span>
            <br>Jane Doe
          </p>
        <p><span class="strong">Address</span> <br>
          3 Old Street, Town, City NE1 123
        </p>
          <p>
            <span class="strong">Prescription collected on or between: </span>
            <br>1 July 2017 and 31 July 2017
          </p>
          <p>
            <span class="strong">Exemption selected: </span>
            <br>
              Box L - "You were named on a current HC2 charges certificate” (NHS Low Income Scheme for full help)
          </p>
      </div>
      
      <h2 class="heading-medium">Are these details correct?</h2>
      
      <p>yes / no</p>
      
      </div>
      
    </div>      
    
</main>

{% endblock %}
