{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
  
  <div class="grid-row">
      
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p>
        <h1 class="heading-large">
          Were these details correct between 1 July and 31 July 2017?
        </h1>
      </div>
      
<!--
      <p>
        If these are wrong we might not be able to find your records.
      </p>
-->
      
      <div class="info-list">
        <h3 class="heading-medium">Name:</h3>
        <p>{{name}}</p>

        <h3 class="heading-medium">Address:</h3> 
        <p>3 Old Street, Town, City NE1 123</p>

<!--
        <h3 class="heading-medium">Prescription collected on or between:</h3>
        <p>1 July 2017 and 31 July 2017</p>
-->

        <h3 class="heading-medium">Date of birth:</h3>
        <p>01 January 1985</p>

       <!-- <p><a href="personal">If any of these details are wrong tell us</a></p> -->
        
      </div>      
      
      <form action="details-handler" method="get" class="form">

          <div class="form-group">

            <fieldset class="inline">
              <legend class="visually-hidden">
              </legend>

              <div class="multiple-choice">
                <input id="yes" type="radio" name="details" value="yes">
                <label for="yes">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="no" type="radio" name="details" value="no">
                <label for="no">No</label>
              </div>

          </fieldset>  

          </div>

          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

          <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

        </form>      
      
      </div>
      
    </div>      
    
</main>

{% endblock %}