{% extends "bsa_website.html" %}

{% block navigation %}
  <main id="main-content" class="main_body">
    <div class="content-header sm-mt-40 mt-20">
      <div class="container">
        <div class="row is-just-between sm-is-direction-row is-direction-column ie-text-right">
          <div class="column sm-is-none is-auto ie-is-inline-block ie-is-8 ie-text-left">
            <div class="service-name-wrapper">
              <a href="penalty-charges" class="service-name">
                Penalty Charges
              </a>
            </div>
            <button class="js-search-toggle search-toggle show-from-sm ie-is-hidden">
              <span class="sr-only">Toggle search</span>
            </button>
          </div>
          <div class="column sm-is-none is-auto search-column ie-is-inline-block ie-is-4">
            <div class="js-search-controller search-controller">
              <div class="js-search-container">
                <div class="views-exposed-form bef-exposed-form homepage" data-drupal-selector="views-exposed-form-search-search-block" id="block-search-block" data-block-plugin-id="views_exposed_filter_block:search-search_block" title="Welcome" url="nhsbsabeta.redweb.network%2F">
                  <div class="search-block-form searchBar">
                    <form block="block-search-block" action="" method="get" id="views-exposed-form-search-search-block" accept-charset="UTF-8">
                      <div class="js-form-item form-item js-form-type-textfield form-item-aggregated-field js-form-item-aggregated-field">
                        <label for="edit-aggregated-field">Search</label>
                        <input placeholder="Search the NHSBSA website" data-drupal-selector="edit-aggregated-field" type="text" id="edit-aggregated-field" name="aggregated_field" value="" size="30" maxlength="128" class="form-text">
                      </div>
                      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                        <div class="submit-controller">
                          <button data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" value="Search" class="button js-form-submit form-submit">
                            <span class="submit-inner">Search</span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row md-mb-40 mb-20 md-mt--10">
          <div class="column is-12">
            <div id="block-custommenu" data-block-plugin-id="custom_menu_block" class="content_page" title="Prescription prepayment certificates" url="nhsbsabeta.redweb.network%2Fhelp-nhs-prescription-costs%2Fprescription-prepayment-certificates">
              <nav class="service-nav hide-from-md">
                <ul block="block-custommenu" class="nav">
                  <li class="nav-item">

                    <a id="content-remove" class="is-active" href="pay_buttons">

                      Pay a penalty charge
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="appeal">Challenge a penalty charge</a>
                  </li>
                  <li class="nav-item">

                    <a href="caught_out">Penalty charges – don’t get caught out</a>

                  </li>
                </ul>
              </nav>
            </div>
           <nav class="service-nav-mobile show-from-md ie-is-hidden">
             <button type="button" name="toggleMobileNav" class="menu-toggle js-menu-toggle">
               Prescription prepayment certificates
             </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="contextual-tabs">
  </div>
  <div class="content-row">
      <div class="container tablet-mb-65 mb-25">
        <div class="row mt--15">
          <div class="column is-block lg-is-8 is-12 ie-is-8">

{% endblock %}

{% block content %}

  <div id="block-pagetitle" data-block-plugin-id="page_title_block" class="content_page" title="Prescription prepayment certificates" url="nhsbsabeta.redweb.network%2Fhelp-nhs-prescription-costs%2Fprescription-prepayment-certificates">

    <!-- content -->

    <h1 class="js-quickedit-page-title">Pay a Penalty Charge Notice</h1>

    <p>
      You can pay off your Penalty Charge Notice in full so that the debt is cleared straight away or you can pay it off in instalments.
    </p>

    <p>
      You will need a debit or credit card to make the payment.
    </p>

    <p>
      You will also need your 9-digit PCN number. This can be found on your Penalty Charge Notice letter.
    </p>

    <h3>
      <strong>
        Which type of NHS Penalty Charge Notice are you paying?
      </strong>
    </h3>

	<ul>

    <li>
          <a href="../pay/number">Prescriptions – pay now</a>
    </li>

    <li>
          <a href="../pay/number">Dental treatment – pay now</a>
    </li>

	</ul>

    <p>If your PCN number begins with ‘BECS/DR’ you need to <a href="#">make your payment to NHS Dental Services here</a>.</p>


    <h3>
      <strong>
        Don't delay
      </strong>
    </h3>

    <p>It is important to start paying your Penalty Charge Notice as soon as possible. Delaying payment could lead to an extra fine of up to £50. Check your Penalty Charge Notice letter for your payment deadline.</p>

    <p><a href="#">If you need to challenge a Penalty Charge Notice</a></p>

    <br>

  </div>

  <div id="block-contentsubchildrenblock" data-block-plugin-id="content_sub_children_block" class="content_page" title="Prescription prepayment certificates" url="nhsbsabeta.redweb.network%2Fhelp-nhs-prescription-costs%2Fprescription-prepayment-certificates">
  </div>


  </div>

  <div class="column is-block is-normal lg-is-4 is-12 ie-is-4">

    <div class="row is-direction-column">



      <div class="column is-normal is-12 ie-is-12">
        <div class="social-links-block has-2-items">
          <span>Follow us</span>
          <ul class="social-list">
            <li class="social_logo">
              <img src="/public/images/bsa/web/f.jpg">
            </li>
            <li>
              <img src="/public/images/bsa/web/t.jpg">
            </li>
          </ul>
        </div>
      </div>

      <div class="column is-normal is-12 ie-is-12">
        <div class="question-block"><h3>Got a question?</h3>

          <ul class="link-list">
            <li class="au_logo">
              <a href="https://contactcentreservices.nhsbsa.nhs.uk/selfnhsukokb/AskUs_HWHC/template-group.do" target="_blank" title="Go to Visit our knowledge base" class="is-external">
                Visit our knowledge base
              </a>
            </li>
            <li class="contact_us">
              <a href="contact" title="Go to Contact us">
                Contact us
              </a>
            </li>
            <li>
              <a href="https://nhsbsabeta.redweb.network/advice-other-languages" title="Go to Advice in other languages">Advice in other languages</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</div>
</div>
</div>


  <div id="block-relatedblock-2" data-block-plugin-id="related_block" class="content_page" title="Prescription prepayment certificates" url="nhsbsabeta.redweb.network%2Fhelp-nhs-prescription-costs%2Fprescription-prepayment-certificates"></div>
    <div class="service-area-footer bg-white mr--15 ml--15 pl-20 pr-20 tablet-pt-50 pt-15 tablet-pb-50 pb-15">
      <div class="container tablet-pb-60 pb-25">
        <div block="block-service-footer-blocks">
          <div class="row view view-service-footer-v1 view-id-service_footer_v1 view-display-id-block_1 js-view-dom-id-a0f4d9e4465dfd336b74b8e00f8e7b031e7e43ac0502e899c19db15a79b64a1d">
            <div class="column tablet-is-4 sm-is-6 is-12 ie-is-4">
              <div class="serviceFooterBlock">
                <h3 class="serviceFooterBlock-title"><a href="https://nhsbsabeta.redweb.network/nhsbsa-website-public-beta">NHSBSA website public beta</a></h3>
                <p>If you have any feedback or queries about our new website, please contact nhsbsa.digital@nhs.net</p>
                <a href="https://nhsbsabeta.redweb.network/nhsbsa-website-public-beta" class="serviceFooterBlock-link">Read more</a>
              </div>
            </div>
            <div class="column tablet-is-4 sm-is-6 is-12 ie-is-4">
            <div class="serviceFooterBlock">
              <h3 class="serviceFooterBlock-title"><a href="https://nhsbsabeta.redweb.network/contact-us/surveys-and-research">Surveys and research</a></h3>
              <p>Help us to review and develop our services by sharing your views</p>
              <a href="https://nhsbsabeta.redweb.network/contact-us/surveys-and-research" class="serviceFooterBlock-link">Read more</a>
            </div>
          </div>
          <div class="column tablet-is-4 sm-is-6 is-12 ie-is-4">
            <div class="serviceFooterBlock">
              <h3 class="serviceFooterBlock-title"><a href="https://nhsbsabeta.redweb.network/advice-other-languages">Advice in other languages</a></h3>
              <p>How to access information on help with NHS health costs in other languages</p>
              <a href="https://nhsbsabeta.redweb.network/advice-other-languages" class="serviceFooterBlock-link">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-back-to-top-wrapper show-from-md ie-is-hidden">
    <a href="https://nhsbsabeta.redweb.network/help-nhs-prescription-costs/prescription-prepayment-certificates#top" class="site-back-to-top">
      Back to top
    </a>
  </div>

  </main>


{% endblock %}
