{% extends "penalty_layout.html" %}

{% block content %}

  <div class="content-header sm-mt-40 mt-20">

    <div class="container">

      <div class="row is-just-between ie-text-right">

        <div class="column">

          <div class="search-controller">

            <div class="views-exposed-form bef-exposed-form services_page" data-drupal-selector="views-exposed-form-search-search-block" id="block-search-block" data-block-plugin-id="views_exposed_filter_block:search-search_block" title="NHS Help with Health Costs" url="www.nhsbsa.nhs.uk%2Fnhs-help-health-costs">

              <div class="search-block-form searchBar">

                <form block="block-search-block" action="https://www.nhsbsa.nhs.uk/search" method="get" id="views-exposed-form-search-search-block" accept-charset="UTF-8">

                  <div class="js-form-item form-item js-form-type-textfield form-item-aggregated-field js-form-item-aggregated-field">

                    <label for="edit-aggregated-field">Search</label>

                    <input placeholder="Search the NHSBSA website" data-drupal-selector="edit-aggregated-field" type="text" id="edit-aggregated-field" name="aggregated_field" value="" size="30" maxlength="128" class="form-text">

                </div>

                <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">

                  <div class="submit-controller">

                    <button data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" value="Search" class="button js-form-submit form-submit"><span class="submit-inner">Search</span></button>
                  </div>

                </div>

              </form>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="content-row">

  <div class="container sm-mt--25">

    <div class="row">

      <div class="column is-12 ie-is-12">

        <div id="block-pagetitle" data-block-plugin-id="page_title_block" class="services_page" title="NHS Help with Health Costs" url="www.nhsbsa.nhs.uk%2Fnhs-help-health-costs">

          <h1 class="js-quickedit-page-title">
            Penalty Charges
          </h1>

        </div>

        <article data-history-node-id="580" role="article" about="/nhs-help-health-costs">

          <div>

            <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item">

<!--
              <p><font color="#000000">Although most NHS treatment is free, there are still some costs you might need to pay, for example, to get your prescriptions or to travel to your hospital appointment.</font></p>

              <p><font color="#000000">
                Find out how you could get help&nbsp;to pay for these health costs.</font>
              </p>
-->

            </div>

          </div>

        </article>

      </div>

    </div>

  </div>
</div>

<div class="section-block-row tablet-mb-60 mb-25">

  <div class="container">

    <div block="block-sections-pods">  <div class="row view view-service-section-pods view-id-service_section_pods view-display-id-block_1 js-view-dom-id-6902a97b139c9a60c76b731fa42efba6958cdb6e5c5a8041346e07b2b82101a9">

    <div class="is-flex is-normal align-top is-direction-column tablet-is-4 sm-is-6 is-12 ie-is-4 md-pl-15 md-pr-15 pt-15 pb-15 pl-10 pr-10 light-green">

    <div class="sectionBlock">

      <h2 class="sectionBlock-title" style="min-height: 106px;">
        <a href="pay_buttons" title="go to Help with NHS prescription costs">
         Pay your Penalty Charge Notice
        </a>
      </h2>

      <div class="sectionBlock-block">

<!--
        <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs" class="sectionBlock-imageLink">
          <img src="./NHS Help with Health Costs _ NHSBSA_files/Hand signing prescription.jpg" width="350" height="205" alt="NHS prescription charges" title="NHS prescription charges" typeof="Image">
        </a>
-->

        <p>
          You can pay a Penalty Charge notice in full so the debt is cleared straight away, or you can pay it off in instalments.
        </p>

      </div>

    </div>

  </div>

  <div class="is-flex is-normal align-top is-direction-column tablet-is-4 sm-is-6 is-12 ie-is-4 md-pl-15 md-pr-15 pt-15 pb-15 pl-10 pr-10 light-green">

  <div class="sectionBlock">

    <h2 class="sectionBlock-title" style="min-height: 106px;">
      <a href="appeal" title="go to Help with NHS dental costs ">
        Challenge a Penalty Charge Notice
      </a>
    </h2>

    <div class="sectionBlock-block">

<!--      <a href="https://www.nhsbsa.nhs.uk/help-nhs-dental-costs" class="sectionBlock-imageLink">  <img src="./NHS Help with Health Costs _ NHSBSA_files/Smile.jpg" width="350" height="205" alt="NHS dental charges" title="NHS dental charges" typeof="Image"></a>-->

      <p>
        If you believe you have received a Penalty Charge Notice in error, or you have an exceptional reason not to pay, you can challenge it.
      </p>

    </div>

  </div>

</div>

<div class="is-flex is-normal align-top is-direction-column tablet-is-4 sm-is-6 is-12 ie-is-4 md-pl-15 md-pr-15 pt-15 pb-15 pl-10 pr-10 light-green">

  <div class="sectionBlock">

    <h2 class="sectionBlock-title" style="min-height: 106px;">
      <a href="caught_out">
        Penalty charges - don't get caught out
      </a>
    </h2>

    <div class="sectionBlock-block">

      <p>
        You might think that you're entitled to claim free NHS prescriptions or dental treatment, but you must check before you tick.
      </p>

    </div>

  </div>

</div>

<!--
<div class="is-flex is-normal align-top is-direction-column tablet-is-4 sm-is-6 is-12 ie-is-4 md-pl-15 md-pr-15 pt-15 pb-15 pl-10 pr-10 light-green">

  <div class="sectionBlock">

    <h2 class="sectionBlock-title" style="min-height: 73px;"><a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme" title="go to NHS Low Income Scheme">NHS Low Income Scheme</a></h2>

    <div class="sectionBlock-block">

      <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme" class="sectionBlock-imageLink">  <img src="./NHS Help with Health Costs _ NHSBSA_files/Money - Piggy bank.jpg" width="350" height="205" alt="NHS Low Income Scheme" title="NHS Low Income Scheme" typeof="Image"></a>

      <p>Includes what's covered, who can apply, how to apply and renewing and replacing your HC2 or HC3 certificate</p>
    </div>

  </div>

</div>
-->

<!--
<div class="is-flex is-normal align-top is-direction-column tablet-is-4 sm-is-6 is-12 ie-is-4 md-pl-15 md-pr-15 pt-15 pb-15 pl-10 pr-10 light-green">

  <div class="sectionBlock">

    <h2 class="sectionBlock-title" style="min-height: 73px;"><a href="https://www.nhsbsa.nhs.uk/exemption-certificates" title="go to Exemption certificates">Exemption certificates</a></h2>

    <div class="sectionBlock-block">

      <a href="https://www.nhsbsa.nhs.uk/exemption-certificates" class="sectionBlock-imageLink">  <img src="./NHS Help with Health Costs _ NHSBSA_files/Hand holding medex.jpg" width="350" height="205" alt="Exemption certificates" title="Exemption certificates" typeof="Image"></a>

      <p>Help for pregnant women, new mothers, people with medical conditions and people getting tax credits</p>
    </div>

  </div>

</div>
-->

<!--
<div class="is-flex is-normal align-top is-direction-column tablet-is-4 sm-is-6 is-12 ie-is-4 md-pl-15 md-pr-15 pt-15 pb-15 pl-10 pr-10 light-green">

  <div class="sectionBlock">

    <h2 class="sectionBlock-title" style="min-height: 73px;"><a href="https://www.nhsbsa.nhs.uk/penalty-charges" title="go to Penalty charges">Penalty charges</a></h2>

    <div class="sectionBlock-block">

      <a href="https://www.nhsbsa.nhs.uk/penalty-charges" class="sectionBlock-imageLink">  <img src="./NHS Help with Health Costs _ NHSBSA_files/Make a payment.jpg" width="350" height="205" alt="Penalty charges" title="Penalty charges" typeof="Image"></a>

      <p>Pay or challenge a Penalty Charge Notice relating to NHS prescriptions or dental treatment</p>

    </div>

  </div>

</div>
-->
</div>
</div>

</div>
</div>

<!--
  <div class="service-news-row">

    <div class="container tablet-pt-45 pt-15 tablet-pb-45 pb-15 has-border-top-large">

      <div class="row">

        <div class="news-block-container column is-block sm-is-12 ie-is-12">

          <h3>NHS Help with Health Costs news</h3>

          <div block="block-views-block-news-twitter-block-block-1">  <div class="row view view-news-twitter-block view-id-news_twitter_block view-display-id-block_1 js-view-dom-id-4825823dc09a0096f34dbda3908968614a723c91f78c6c2559d7e711b22cf92b">

            <div class="column sm-is-6 md-is-4 is-12 ie-is-4">

              <div class="news-block">

                  <h4>Changes to the maternity exemption certificate</h4>

                  <span>11th January 2017</span>

                  <p></p>

                  <p>The NHS Business Services Authority (NHSBSA) is responsible for administering the maternity exemption</p>

                  <a href="https://www.nhsbsa.nhs.uk/hwhc-changes-maternity-exemption-certificate">Read more</a>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
-->

<div id="block-relatedblock" data-block-plugin-id="related_block" class="services_page" title="NHS Help with Health Costs" url="www.nhsbsa.nhs.uk%2Fnhs-help-health-costs">
</div>

<div id="block-relatedblock-2" data-block-plugin-id="related_block" class="services_page" title="NHS Help with Health Costs" url="www.nhsbsa.nhs.uk%2Fnhs-help-health-costs">
</div>

<div class="service-area-footer bg-white mr--15 ml--15 pl-20 pr-20 tablet-pt-50 pt-15 tablet-pb-50 pb-15">

  <div class="container tablet-pb-60 pb-25">

    <div block="block-service-footer-blocks">

      <div class="row view view-service-footer-v1 view-id-service_footer_v1 view-display-id-block_1 js-view-dom-id-37f0df9f908ae756c4d12af2d3fc59e2f4304e3d38747f6cc6699674291682ba">

        <div class="column tablet-is-4 sm-is-6 is-12 ie-is-4">

          <div class="serviceFooterBlock">

            <h3 class="serviceFooterBlock-title"><a href="https://www.nhsbsa.nhs.uk/help-us-improve-our-website">Help us improve our website</a></h3>
              <p>We’re still developing our website based on your feedback, so please tell us what you think</p>
              <a href="https://www.nhsbsa.nhs.uk/help-us-improve-our-website" class="serviceFooterBlock-link">Read more</a>

          </div>

        </div>

        <div class="column tablet-is-4 sm-is-6 is-12 ie-is-4">

          <div class="serviceFooterBlock">
              <h3 class="serviceFooterBlock-title"><a href="https://www.nhsbsa.nhs.uk/contact-us/surveys-and-research">Surveys and research</a></h3>
              <p>Help us to review and develop our services by sharing your views</p>
              <a href="https://www.nhsbsa.nhs.uk/contact-us/surveys-and-research" class="serviceFooterBlock-link">Read more</a>
          </div>

        </div>

        <div class="column tablet-is-4 sm-is-6 is-12 ie-is-4">

          <div class="serviceFooterBlock">

            <h3 class="serviceFooterBlock-title"><a href="https://www.nhsbsa.nhs.uk/advice-other-languages">Advice in other languages</a></h3>

            <p>How to access information on help with NHS health costs in other languages</p>

            <a href="https://www.nhsbsa.nhs.uk/advice-other-languages" class="serviceFooterBlock-link">Read more</a>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="site-back-to-top-wrapper show-from-md ie-is-hidden">
  <a href="https://www.nhsbsa.nhs.uk/nhs-help-health-costs#top" class="site-back-to-top">Back to top</a>
</div>

{% endblock %}
