{% extends "bsa_website.html" %}

{% block navigation %}
  <main id="main-content" class="main_body"> 
    <div class="content-header sm-mt-40 mt-20">
      <div class="container">
        <div class="row is-just-between sm-is-direction-row is-direction-column ie-text-right">
          <div class="column sm-is-none is-auto ie-is-inline-block ie-is-8 ie-text-left">
            <div class="service-name-wrapper">
              <a href="./../../../bsa/penalty-charges" class="service-name"> 
                Penalty Charges
              </a>
            </div>
            <button class="js-search-toggle search-toggle show-from-sm ie-is-hidden">
              <span class="sr-only">Toggle search</span>
            </button>
          </div>
          <div class="column sm-is-none is-auto search-column ie-is-inline-block ie-is-4">
            <div class="js-search-controller search-controller">
              <div class="js-search-container">
                <div class="views-exposed-form bef-exposed-form homepage" data-drupal-selector="views-exposed-form-search-search-block" id="block-search-block" data-block-plugin-id="views_exposed_filter_block:search-search_block" title="Welcome" url="nhsbsabeta.redweb.network%2F">
                  <div class="search-block-form searchBar">
                    <form block="block-search-block" action="" method="get" id="views-exposed-form-search-search-block" accept-charset="UTF-8">
                      <div class="js-form-item form-item js-form-type-textfield form-item-aggregated-field js-form-item-aggregated-field">
                        <label for="edit-aggregated-field">Search</label>
                        <input placeholder="Search the NHSBSA website" data-drupal-selector="edit-aggregated-field" type="text" id="edit-aggregated-field" name="aggregated_field" value="" size="30" maxlength="128" class="form-text">
                      </div>
                      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                        <div class="submit-controller">
                          <button data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" value="Search" class="button js-form-submit form-submit">
                            <span class="submit-inner">Search</span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row md-mb-40 mb-20 md-mt--10">
          <div class="column is-12">
            <div id="block-custommenu" data-block-plugin-id="custom_menu_block" class="content_page" title="Prescription prepayment certificates" url="nhsbsabeta.redweb.network%2Fhelp-nhs-prescription-costs%2Fprescription-prepayment-certificates">
              <nav class="service-nav hide-from-md">
                <ul block="block-custommenu" class="nav">
                  <li class="nav-item">
                    <a id="content-remove" href="pay" class="is-active">
                      Pay a penalty charge
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="appeal">Challenge a penalty charge</a>
                  </li>
                  <li class="nav-item">
                    <a href="help">Find out who is entitled to help with health costs</a>
                  </li>
                </ul>
              </nav>
            </div>
           <nav class="service-nav-mobile show-from-md ie-is-hidden">
             <button type="button" name="toggleMobileNav" class="menu-toggle js-menu-toggle">
               Prescription prepayment certificates
             </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="contextual-tabs">
  </div>
  <div class="content-row">
      <div class="container tablet-mb-65 mb-25">
        <div class="row mt--15">
          <div class="column is-block lg-is-8 is-12 ie-is-8">

{% endblock %}

{% block content %}
      
  <div id="block-pagetitle" data-block-plugin-id="page_title_block" class="content_page" title="Prescription prepayment certificates" url="nhsbsabeta.redweb.network%2Fhelp-nhs-prescription-costs%2Fprescription-prepayment-certificates">  
  
    <!-- content -->    
  
    <h1 class="js-quickedit-page-title">Pay a penalty charge</h1>
  
    <p>You can use this service to pay for dental and prescription penalty charges.</p>
    
<!--    <h3><strong>Prescription penalty charges</strong></h3>-->
    
<!--    <p>These have a reference number starting with xx</p>-->

<!--
    <p>
      <a class="ckbtn" href="https://ip.e-paycapita.com/AIP/accountSearch.do?link=showAccountSearchPage&requestId=ifpvx7rw3u4z73id33asexr7r7zltb0" title="PPC online application">Pay a prescription penalty charge</a>
    </p>
-->
    
<!--    <h3><strong>Dental penalty charges</strong></h3>-->
    
<!--    <p>These have a reference number starting with xx</p>-->
    
    <p>
      <a class="ckbtn" href="https://ip.e-paycapita.com/AIP/accountSearch.do?link=showAccountSearchPage&requestId=ifpvx7rw3u4z73id33asexr7r7zltb0" title="PPC online application">
        Pay a penalty charge
      </a>
    </p>

  </div>

  <div id="block-contentsubchildrenblock" data-block-plugin-id="content_sub_children_block" class="content_page" title="Prescription prepayment certificates" url="nhsbsabeta.redweb.network%2Fhelp-nhs-prescription-costs%2Fprescription-prepayment-certificates">
  </div>


  </div>
  
  <div class="column is-block is-normal lg-is-4 is-12 ie-is-4">
  
    <div class="row is-direction-column">
    
<!--
      <div class="column is-block is-normal is-12 ie-is-12 hide-from-md">
        
        <nav class="breadcrumb sidebar-nav" role="navigation" aria-labelledby="system-breadcrumb">
          
          <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
          
          <ul>
            <li class="menu-item level-0 menu-item--expanded">
              <a href="https://nhsbsabeta.redweb.network/help-nhs-prescription-costs">Penalty charges</a>
            </li>
            
            <li class="menu-item">
              <a href="decs">Dental Exemption Checking Service</a>
            </li>
            
            <li class="menu-item"> active
              <a href="pecs">Prescription Exemption Checking Service</a>
            </li>
          </ul>
        
        </nav>

      </div>
-->

      <div class="column is-normal is-12 ie-is-12">
        <div class="social-links-block has-2-items">
          <span>Follow us</span>
          <ul class="social-list">
            <li class="social_logo">
              <img src="/public/images/bsa/web/f.jpg">
            </li>
            <li>
              <img src="/public/images/bsa/web/t.jpg">
            </li>
          </ul>
        </div>
      </div>
                               
      <div class="column is-normal is-12 ie-is-12">
        <div class="question-block"><h3>Got a question?</h3>
    
          <ul class="link-list">
            <li class="au_logo">
              <a href="https://contactcentreservices.nhsbsa.nhs.uk/selfnhsukokb/AskUs_HWHC/template-group.do" target="_blank" title="Go to Visit our knowledge base" class="is-external">
                Visit our knowledge base
              </a>
            </li>
            <li class="contact_us">
              <a href="https://nhsbsabeta.redweb.network/contact-us-0" title="Go to Contact us">
                Contact us
              </a>
            </li>
            <li>
              <a href="https://nhsbsabeta.redweb.network/advice-other-languages" title="Go to Advice in other languages">Advice in other languages</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    
  </div>

</div>
</div>
</div>

<!--
  <div id="block-relatedblock" data-block-plugin-id="related_block" class="content_page" title="Prescription prepayment certificates" url="nhsbsabeta.redweb.network%2Fhelp-nhs-prescription-costs%2Fprescription-prepayment-certificates">
  
  <div class="flexible-content-row"><div class="container tablet-pt-45 pt-25 table-pb-45 pb-25 has-border-top-large"><div class="flexible-content-row-content row"><div class="column sm-is-4 is-12 ie-is-4"><div class="resource-link-block">
  
    <h3>England: Help with health costs guides</h3>
    
    <ul class="document-list">
    
      <li class="pdf">
      
        <a href="https://nhsbsabeta.redweb.network/sites/default/files/2017-03/PECS_Booklet_8pg_%28V1.1%29_digital_11.2016.pdf" title="Go to Claiming free prescriptions? Guide for patients">HC11 - Help with health costs in England <span class="size">(181.23kB)</span></a></li><li class="pdf">
        
        <a href="https://nhsbsabeta.redweb.network/sites/default/files/2017-03/PECS_infographic_%28V2%29.pdf" title="Go to Not sure if you&#39;re entitled to free prescriptions? Infographic">HC12 - Quick guide to help with health costs in England (83.7kB) <span class="size">(83.7kB)</span>
        </a>
      </li>
      
    </ul>
    
  </div>
    
</div>

<div class="column sm-is-4 is-12 ie-is-4">
  
  <div class="resource-link-block">
        
    <h3>Wales: Help with health costs guides</h3>

    <ul class="document-list">
      <li class="pdf">
        <a href="https://nhsbsabeta.redweb.network/sites/default/files/2017-03/HC11_April_2015.pdf" title="Go to HC11 - Help with health costs in England">Help with health costs in Wales<span class="size">(548.66kB)</span></a>
      </li>

      <li class="pdf">
        <a href="https://nhsbsabeta.redweb.network/sites/default/files/2017-03/HC12_April_2016.pdf" title="Go to HC12 - Quick guide to help with health costs in England">Help with health costs in Wales (in Welsh) <span class="size">(355.24kB)</span></a>
      </li>

    </ul>

  </div>
</div>
        
<div class="column sm-is-4 is-12 ie-is-4">
  <div class="twitter-block">
    <div class="twitter-header">
      <h3>Twitter feed</h3>
      <a href="https://twitter.com/NHShealthcosts" target="_blank" class="twitter-link">
        <span class="sr-only">Follow us!</span>
        <i class="icon-Twitter-bird"></i>
      </a>
    </div>
    
    <div class="tweet">
      
      <div class="tweet-thumb">
        <img alt="NHS Health Costs" src="https://pbs.twimg.com/profile_images/778576017371832320/zbOFboFQ_normal.jpg" class="twitter-profile">
      </div>
      
      <div class="tweet-content">
        
        <span class="twitter-name">
          <a href="https://twitter.com/NHShealthcosts" title="NHS Health Costs">NHS Health Costs</a>
        </span>
        
        <span class="twitter-handle"> @NHShealthcosts</span>
        
        <p>Hello. James &amp; Matthew are back until 5pm to answer your posts and general enquiries. Enjoy your day! 
        
          <a href="https://t.co/sCWfmx0ZiX" target="_blank">https://t.co/sCWfmx0ZiX</a>
        </p>
      </div>
    </div>
    
    <div class="tweet">
          
      <div class="tweet-thumb"><img alt="NHS Health Costs" src="https://pbs.twimg.com/profile_images/778576017371832320/zbOFboFQ_normal.jpg" class="twitter-profile">
      </div>

      <div class="tweet-content">
        <span class="twitter-name">
          <a href="https://twitter.com/NHShealthcosts" title="NHS Health Costs">NHS Health Costs</a>
        </span>

        <span class="twitter-handle"> @NHShealthcosts</span>

        <p>If you're over 60, you get #freeprescriptions 
          <a href="https://t.co/XVxy4I4gLk" target="_blank">https://t.co/XVxy4I4gLk</a>
        </p>

      </div>
      
    </div>
    
  </div>

</div>
</div>
</div>
</div>
</div>
-->

  <div id="block-relatedblock-2" data-block-plugin-id="related_block" class="content_page" title="Prescription prepayment certificates" url="nhsbsabeta.redweb.network%2Fhelp-nhs-prescription-costs%2Fprescription-prepayment-certificates"></div>
    <div class="service-area-footer bg-white mr--15 ml--15 pl-20 pr-20 tablet-pt-50 pt-15 tablet-pb-50 pb-15">
      <div class="container tablet-pb-60 pb-25">
        <div block="block-service-footer-blocks">  
          <div class="row view view-service-footer-v1 view-id-service_footer_v1 view-display-id-block_1 js-view-dom-id-a0f4d9e4465dfd336b74b8e00f8e7b031e7e43ac0502e899c19db15a79b64a1d">
            <div class="column tablet-is-4 sm-is-6 is-12 ie-is-4">
              <div class="serviceFooterBlock">
                <h3 class="serviceFooterBlock-title"><a href="https://nhsbsabeta.redweb.network/nhsbsa-website-public-beta">NHSBSA website public beta</a></h3>
                <p>If you have any feedback or queries about our new website, please contact nhsbsa.digital@nhs.net</p>
                <a href="https://nhsbsabeta.redweb.network/nhsbsa-website-public-beta" class="serviceFooterBlock-link">Read more</a>
              </div>
            </div>
            <div class="column tablet-is-4 sm-is-6 is-12 ie-is-4">
            <div class="serviceFooterBlock">
              <h3 class="serviceFooterBlock-title"><a href="https://nhsbsabeta.redweb.network/contact-us/surveys-and-research">Surveys and research</a></h3>
              <p>Help us to review and develop our services by sharing your views</p>
              <a href="https://nhsbsabeta.redweb.network/contact-us/surveys-and-research" class="serviceFooterBlock-link">Read more</a>
            </div>
          </div>
          <div class="column tablet-is-4 sm-is-6 is-12 ie-is-4">
            <div class="serviceFooterBlock">
              <h3 class="serviceFooterBlock-title"><a href="https://nhsbsabeta.redweb.network/advice-other-languages">Advice in other languages</a></h3>
              <p>How to access information on help with NHS health costs in other languages</p>
              <a href="https://nhsbsabeta.redweb.network/advice-other-languages" class="serviceFooterBlock-link">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-back-to-top-wrapper show-from-md ie-is-hidden">
    <a href="https://nhsbsabeta.redweb.network/help-nhs-prescription-costs/prescription-prepayment-certificates#top" class="site-back-to-top">
      Back to top
    </a>
  </div>

  </main> 


{% endblock %}