{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
      
          <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>

    <div class="column-third right-floater">

      <div class="payment-summary-small">

        <h2>Payment summary</h2>

        <p class="payment-info">PCN number {{pcnnumber}}</p>

        <h3>Payment today:</h3>
          
          {% if (followup == 1) %}

        <p class="payment-amount">£258</p>

          {% else %}
          
          <p class="payment-amount">£{{plan}}</p>
          
          {% endif %}
          
      </div>

    </div>

      <div class="column-two-thirds left-floater">
              <div id="back">
        <a href="javascript:history.go(-1)" id="back-button" class="link-back">Back</a>
        <script type="text/javascript">
            document.getElementById('back-button');
        </script>
	</div>

      <h1 class="heading-large">Enter card details</h1>
          
          {% if (followup == 1) or (followup == 2) %}

            <form class="form" method="get" action="accept">

              
        <div class="form-group">

          <label class="form-label-bold" for="cardnumber">
            Card number
          </label>

          <input class="form-control medium-width" id="cardnumber" name="cardnumber" type="number">
          <div class="card-images">
            <img class="original-accepted" id="original-accepted" src="/public/images/bsa/accepted-cards-x2.png">
          </div>

          <p class="form-hint">Accepted debit and credit card types</p>

        </div>

        <div class="form-group">

          <fieldset>

            <div class="form-date">

              <legend class="form-label-bold">
                Expiry date
                <span class="form-hint">For example, 07/19</span>
              </legend>

                <div class="form-group form-group-month">

                  <label for="exmonth">Month</label>
                  <input class="form-control" id="exmonth" name="exmonth" type="number">

                </div>

                <div class="form-group form-group-month">

                  <label for="exyear">Year</label>
                  <input class="form-control" id="exyear" name="exyear" type="number">

              </div>
          </div>
          </fieldset>

        </div>

        <div class="form-group">

          <label class="form-label-bold" for="holdername">
            Name on card
          </label>

          <input class="form-control max-width" id="holdername" name="holdername" type="text">

        </div>

        <div class="form-group">

          <label class="form-label-bold" for="card-security-number">
            Card security code
            <span class="form-hint">This is the 3 digit code on the back of your card</span>
          </label>

          <input class="form-control" id="security-number" type="number"><img class="card-image" src="/public/images/bsa/card-security-code-2.png">

        </div>

      <div class="form-group">
        <input class="button" type="submit"  value="Next">
      </div>

        <div class="back">

          <a href="#">Cancel payment</a>

        </div>

      </form>
          
          {% elseif (followup == 0) %}
          
                      <form class="form" method="get" action="contact-option-full">

              
        <div class="form-group">

          <label class="form-label-bold" for="cardnumber">
            Card number
          </label>

          <input class="form-control medium-width" id="cardnumber" name="cardnumber" type="number">
          <div class="card-images">
            <img class="original-accepted" id="original-accepted" src="/public/images/bsa/accepted-cards-x2.png">
          </div>

          <p class="form-hint">Accepted debit and credit card types</p>

        </div>

        <div class="form-group">

          <fieldset>

            <div class="form-date">

              <legend class="form-label-bold">
                Expiry date
                <span class="form-hint">For example, 07/19</span>
              </legend>

                <div class="form-group form-group-month">

                  <label for="exmonth">Month</label>
                  <input class="form-control" id="exmonth" name="exmonth" type="number">

                </div>

                <div class="form-group form-group-month">

                  <label for="exyear">Year</label>
                  <input class="form-control" id="exyear" name="exyear" type="number">

              </div>
          </div>
          </fieldset>

        </div>

        <div class="form-group">

          <label class="form-label-bold" for="holdername">
            Name on card
          </label>

          <input class="form-control max-width" id="holdername" name="holdername" type="text">

        </div>

        <div class="form-group">

          <label class="form-label-bold" for="card-security-number">
            Card security code
            <span class="form-hint">This is the 3 digit code on the back of your card</span>
          </label>

          <input class="form-control" id="security-number" type="number"><img class="card-image" src="/public/images/bsa/card-security-code-2.png">

        </div>

      <div class="form-group">
        <input class="button" type="submit"  value="Next">
      </div>

        <div class="back">

          <a href="#">Cancel payment</a>

        </div>

      </form>
          
          {% endif %}

    </div>

  </div>

</main>

{% endblock %}
