{% extends "layout_bsa.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
    
  </div>
    <div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="">Results</a></li>
    <li aria-current="page">Customer details</li> 
  </ol>
</div>
    
    <h1 class="heading-xlarge">Joe Bloggs</h1>
    
    <table>
        <tr>
            <th>Personal Details <br><a href="../challenge/penalty-view">Edit</a></th>
            <th></th> 
            <th></th>
        </tr>
  <tr>
    <td>
    </td>
    <td>
        <h3 class="heading-small">Title</h3>
        <p>Mr</p>
                <h3 class="heading-small">Title</h3>
        <p>Mr</p>
    </td> 
    <td>50</td>
  </tr>
  <tr>
    <td></td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>

    
<!--
    <table>
        <tr>
        <th>
            Personal details
            <p>
                <a href="../challenge/penalty-view">Edit</a>
            </p>
        </th>
        <td>
            <h3 class="heading-small">Title</h3>
            <p>Mr</p>
            <h3 class="heading-small">Forename</h3>
            <p>Joe</p>                            
            <h3 class="heading-small">Surname</h3>
            <p>Bloggs</p>
        </td>
        <th>
            Personal details
        </th>
            </tr>
    </table>
-->



</main>

{% endblock %}
