{% extends "layout_bsa.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
    
  </div>
    <div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/typography/">Results</a></li>
    <li aria-current="page">Customer details</li> 
  </ol>
</div>
    
    <h1 class="heading-xlarge">Joe Bloggs</h1>

<div class="grid-row">

  
    <div class="column-one-half">
        <h2 class="heading-medium">Customer details</h2>
<table>
    <tbody>
        <tr>
            <td>              
                <h3 class="heading-small">Title</h3>
                <p>Mr</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
            <td>                                  
                <h3 class="heading-small">Date of birth</h3>
                <p>20/11/1988</p>
                <p>
                <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
        </tr>
        <tr>
            <td>              
                <h3 class="heading-small">Forename</h3>
                <p>Joe</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
            <td>                        
                <h3 class="heading-small">NHS number</h3>
                <p>758946</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
        </tr>
        <tr>
            <td>                        
                <h3 class="heading-small">Surname</h3>
                <p>Bloggs</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
            <td>                        
                <h3 class="heading-small">Email Address</h3>
                <p>j.blog@email.com</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="heading-small">Address</h3>
                <p>9 Hotspur street, Townford, NE1 0LD</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
            <td>                        
                <h3 class="heading-small">Telephone number</h3>
                <p>07837881678</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
    </div>
    
        <div class="column-one-half">
            <h2 class="heading-medium">PCN 123456789</h2>
<table>
    <tbody>
        <tr>
            <td>              
                <h3 class="heading-small">Number of items</h3>
                <p>1</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
            <td>                                  
                <h3 class="heading-small">Exemption Category</h3>
                <p>(F) Pre-payment certificate</p>
                <p>
                <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
        </tr>
        <tr>
            <td>              
                <h3 class="heading-small">Exemption Category</h3>
                <p>(F) Pre-payment certificate</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
            <td>                        
                <h3 class="heading-small">NHS number</h3>
                <p>758946</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
        </tr>
        <tr>
            <td>                        
                <h3 class="heading-small">Evidence Seen</h3>
                <p>N</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
            <td>                        
                <h3 class="heading-small">Email Address</h3>
                <p>j.blog@email.com</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="heading-small">Address</h3>
                <p>9 Hotspur street, Townford, NE1 0LD</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
            <td>                        
                <h3 class="heading-small">Telephone number</h3>
                <p>07837881678</p>
                <p>
                    <a href="../challenge/penalty-view">Change</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
    </div>
 
</div>
    
<div class="grid-row">

  <div class="column-full">
      <h2 class="heading-medium">Matched records</h2>
      <table>
        <tr><td>Boo</td></tr>
          
      </table>
  </div>

</div>

</main>

{% endblock %}
