{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  LIS Staff View
{% endblock %}

{% block after_header %}

<link type="text/css" rel="stylesheet" media="screen" href="../../../../assets/stylesheets/overrides.css">
<link type="text/css" rel="stylesheet" media="screen" href="../../../../assets/stylesheets/complete.css">

<!-- #BeginEditable "styles" -->


<!-- <link type="text/css" rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.css"> -->

<style type="text/css">

.task-due-soon {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 0 0;
        margin-right: 8px;
    padding: 2px 5px 0;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #b10e1e;
    float: left;
    margin-right: 0;
    padding: 1px 5px 4px;
        padding-top: 1px;
    padding-top: 3px;
  }
  .task-due-done {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 0 0;
        margin-right: 8px;
    padding: 2px 5px 0;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #28a197;
    float: left;
    margin-right: 0;
    padding: 1px 5px 4px;
        padding-top: 1px;
    padding-top: 3px;
  }
    .task-due-pending {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 0 0;
        margin-right: 8px;
    padding: 2px 5px 0;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #2b8cc4;
    float: left;
    margin-right: 0;
    padding: 1px 5px 4px;
        padding-top: 1px;
    padding-top: 3px;
  }

.label,.glyphicon { margin-right:5px; }

.casecounter{
  font-size:x-small;
  vertical-align:middle;
}

.navtextsize{

}

#global-header #logo img {
  width:auto !important;
  position: relative;
  top: -2px;
  height: 34px;
  padding-right: 6px;
  float: left;
  display: inline;
  line-height: inherit;
  border: none;
}
#global-header a#logo.content{
  font-size:19px;
}
.navbar {
    position: relative;
    min-height: 55px;
    margin-bottom: 20px;
    }
    .navbar-default {
    background-color: #f8f8f8;}

    .navbar-default {
    border: none;
    border-radius: 0;}

    .navbar-form {
    margin: 10px 0;
    padding: 0;}

    .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;}
    .navbar-left {
    float: left !important;
}
.navbar-form .input-group > .form-control {
    width: 100%;
}
nav.navbar .form-control {
    height: 35px;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
}
nav .btn.btn-primary {
    border-radius: 0;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    background: black;}
    .input-group-btn > .btn {
    position: relative;
}

.site-search .content {
    margin: 0 15px;
}
input.submit {
  margin-left:-6.5px; 
    width: 36px;
    height: 38px;
    border: 1px solid #005ea5;
    border-width: 0 0 0 1px;
    border-left-color: #222;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #005ea5;
    background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
    background-repeat: no-repeat;
   background-position: 0%;}


nav.navbar ul.pagination.see-all {
    margin-left: 10px;
}
nav.navbar ul.pagination {
    margin: 10px 0;
    float: right;
    height: 35px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
nav.navbar ul.pagination li.active a {
    background: #005ea5;
    color: white;
}
nav.navbar ul.pagination {
  margin: 10px 0;
  float: right;
  height: 35px;
}

nav.navbar ul.pagination.see-all {
  margin-left: 10px;
}

nav.navbar ul.pagination li a, nav.navbar ul.pagination li a span {
  font-size: 16px !important;
  border-radius: 0;
  color: #005ea5;
  border-color: #005ea5;
}

nav.navbar ul.pagination li.active a {
  background: #005ea5;
  color: white;
}

.navbar-default {
  border: none;
  border-radius: 0;
}

nav ul.pagination li a {
  border-radius: 0;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
  background: #fff;
    text-decoration: none;

    border: 1px solid #ddd;

}
/*table > thead > tr > th {
    border-bottom: 5px solid #ddd;
}*/
.second-row:hover { background: #f8f8f8;
}
  .large-numbers p strong {
    font-size: 80px;
    line-height: 1;
    font-weight: bold;
}

/* Style the tab */
.tabblue {
    overflow: hidden;
/*    border: 1px solid #ccc;*/
    background-color: #005EB8;
}

/* Style the buttons that are used to open the tab content */
.tabblue button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabblue button:hover {
    background-color: #ddd;
    color: black;
}

/* Create an active/current tablink class */
.tabblue button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 16px;
} 
.tablinksblue{
font-size:16px;
color: white;

}

</style>
<div id="menu">
        <div id="menu-content">
            <div class="grid-row">
                <div class="column-full" style="padding-left:30px">
                    <ul>
      <!--                                                <li>
              <a class="menu-button" id="select-box" href="results">Back to search</a>
            </li> -->
                        
                        <li>
                            <div class="form-group">
                                <select class="form-control" id="select-box" name="select-box" onchange="location = this.value;" style="width:200px; margin-left:46em">
                                    <option hidden="" selected>
                                        Date view
                                    </option>
                                    <option value="#">
                                        Oldest
                                    </option>
                                    <option value="#">
                                        Monday, 01 Jan 2018
                                    </option>
                                    <option value="#">
                                        Tuesday, 02 Jan 2018
                                    </option>
                                    <option value="#">
                                        Wednesday, 03 Jan 2018
                                    </option>
                                    <option value="#">
                                        Thursday, 04 Jan 2018
                                    </option>
                                    <option value="#">
                                        Friday, 05 Jan 2018
                                    </option>
                                </select>
                            </div>
                        </li>
                        <li style="float:right">
                            <div class="form-group">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <input class="form-control" id="full-name-f2" name="full-name-f2" placeholder="Search" style="width:85%; padding: 5px 4px 4px; border: 2px solid #0b0c0c;font-size: 19px; line-height: 1.31579; height: 37px; margin:2px 0px 2px 0px;" type="text"> <input class="submit" style=" margin-left:-6.5px; width: 36px; height: 37px; border: 1px solid #005ea5; border-width: 0 0 0 1px; border-left-color: #222; border-radius: 0; overflow: hidden; text-indent: -5000px; color: #fff; background-color: #005ea5; background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png); background-repeat: no-repeat; background-position: 0%; padding-top:4px; padding-bottom:1px" type="submit" value="Search">
                                </div>
                            </div>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content %}




  <main id="content" role="main">

    <!-- #BeginEditable "content" -->


      <h1 class="form-title heading-large">Low Income Scheme digital applications</h1>
  <div class="grid-row">
  <div class="column-quarter">

  <div class="large-numbers">
  
              <p><strong>25</strong><br>Total applications</p>

          </div>
</div>
  <div class="column-quarter">

  <div class="large-numbers">
  
              <p><strong>11</strong><br>To be accepted</p>

          </div>
</div>
<!--   <div class="column-quarter">

  <div class="large-numbers">
  
              <p><strong>9</strong><br>Pending</p>

          </div>
</div>
  <div class="column-quarter">

  <div class="large-numbers">
  
              <p><strong>5</strong><br>Printed</p>

          </div>
</div> -->
</div>
      <!-- Navbar - End -->
<br>


      <!-- Table - Start -->
       <div class="row">
<!--         <div class="small-12 columns"> -->
          <table>
            <thead>
              <tr>
      <!--         <th style="width:50px"></th> -->
                <th style= "width:0%">Date received</th>
                <th style= "min-width: 100px">Reference number</th>
                <th style= "min-width: 200px">Name</th>
                <th style= "width:  ">Date of birth</th>
                <th style= "">Postcode</th>
                <!--  <th style= "">Status</th> -->
                 <th style= "">Assessor</th>
                
           <!--      <th width="19%">Registration date</th> -->
              </tr>
            </thead>
            <tbody>
              <tr class="second-row">
<!--               <td><img src="/public/images/web.svg" alt="" style="height:36px;"></td> -->
              <td>01/01/2018</td>
                <td><a href="case">56743897</a></td>
                <td>Shiela Green</td>
                <td>02/04/1984</td>
                <td>NE12 A34</td>
                <td>H1345</td>

                <!-- <td><strong class="task-due-done">Printed</strong></td> -->
              </tr>
              <tr class="second-row">
<!--               <td><img src="/public/images/web.svg" alt="" style="height:36px;"></td> -->
              <td>01/01/2018</td>
                <td><a href="">61947226</a></td>
                <td>Donna Goodman</td>
                <td>15/07/1982</td>
                <td>BD12 4WL</td>
                <td>H1345</td>
                <!-- <td><strong class="task-due-done">Printed</strong></td> -->

              </tr>
              <tr class="second-row">
             <!--  <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
              <td>01/01/2018</td>
                <td><a href="">30423535</a></td>
                <td>Brigitte Cantu</td>
                <td>22/06/1949</td>
                <td>GL54 0RU </td>
                <td>H1345</td>

                <!-- <td><strong class="task-due-soon">To do</strong></td> -->
              </tr>

              <tr class="second-row">
              <!-- <td><img src="/public/images/web.svg" alt="" style="height:36px;"></td> -->
              <td>01/01/2018</td>
                 <td><a href="">69808437</a></td>
                <td>Victoria Ruddell</td>
                <td>09/10/1972</td>
                <td>EX31 0JA </td>
                <td>H1345</td>
                <!-- <td><strong class="task-due-soon">To do</strong></td> -->
              </tr>
                            <tr class="second-row">
                          <!--  <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
                            <td>01/01/2018</td>
                <td><a href="">70085168</a></td>
                <td>Dora Ditullio</td>
                <td>23/08/1962</td>
                <td>HP10 2ZU </td>
                <td>H1345</td>

  <!-- <td><strong class="task-due-soon">To do</strong></td> -->
              </tr>
              <tr class="second-row">
             <!--  <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
              <td>01/01/2018</td>
                <td><a href="">22238522</a></td>
                <td>Patrick Turner</td>
                <td>07/11/1971</td>
                <td>SP4 2PS </td>
                <td>H1345</td>

               <!--  <td><strong class="task-due-soon">To do</strong></td> -->
              </tr>
              <tr class="second-row">
             <!--  <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
              <td>01/01/2018</td>
                <td><a href="">21567562</a></td>
                <td>Naveen Kumar</td>
                <td>24/05/1985</td>
                <td>LN8 8PE </td>
                <td>H1345</td>

                <!-- <td><strong class="task-due-pending">Pending</strong></td> -->
              </tr>
              <tr class="second-row">
              <!-- <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
              <td>01/01/2018</td>
                 <td><a href="">92673985</a></td>
                <td>Leroy Dennis Gill</td>
                <td>13/04/1956</td>
                <td>S74 8SQ </td>
                <td>H1345</td>
               <!--  <td><strong class="task-due-done">Printed</strong></td> -->
              </tr>
              <tr class="second-row">
              <!-- <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
              <td>01/01/2018</td>
                <td><a href="">14991422</a></td>
                <td>Liam Dobson</td>
                <td>02/04/1984</td>
                <td>TR3 5BS </td>
                <td>H1345</td>
               <!--  <td><strong class="task-due-soon">To do</strong></td> -->
              </tr>
              <tr class="second-row">
              <!-- <td><img src="/public/images/web.svg" alt="" style="height:36px;"></td> -->
              <td>01/01/2018</td>
                 <td><a href="">55951057</a></td>
                <td>Jessica Randall</td>
                <td>11/05/1960</td>
                <td>SA63 1EA</td>
                <td>H1345</td>
                <!-- <td><strong class="task-due-pending">Pending</strong></td> -->
              </tr>
            
            </tbody>
          </table>
          <br>

      <!-- ////////////////////////////////////// Modals Section - End ////////////////////////////////////// -->


      <!-- Navbar - Start -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="pagination see-all" style="margin-right:1em">
            <li><a href="#">See all</a></li>
          </ul>
          <ul class="pagination">
            <!-- <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li> -->
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Navbar - End -->



    <!-- #EndEditable -->

  </div>

</main>
      <script type="text/javascript" src="../../../../assets/js/bootstrap-switch/jquery.min.js"></script>

      <!-- #BeginEditable "scripts" -->
      <script type="text/javascript" src="../../../../assets/js/bootstrap/js/toggle-button.js"></script>
      <script type="text/javascript" src="../../../../assets/js/jquery.tablesorter.min.js"></script>
      <script type="text/javascript" src="js/casedata.js"></script>
      <script type="text/javascript" src="../../../../assets/js/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../../../../assets/js/jquery.cookie.js"></script>

      <script type="text/javascript">
      var rownumber;

      var url      = window.location.href;     // Returns full URL
      var pathname = window.location.pathname; // Returns path only
      $("#email-link").on("click", function (e) {
        $.cookie("url", url, {path:'/'});
        $.cookie("pathname", pathname, {path:'/'});
      });

      if ($.cookie("urn")) {
        $("#urn").text($.cookie("urn")).addClass("bolder");
        $(".urn").text($.cookie("urn")).addClass("bolder");
      }

      var filter = getParameterByName("filter");
      if(filter==null||filter==""){
        filter=1;
      }

      $(document).ready(function() {
        $("table").tablesorter({widthFixed: true, widgets: ['zebra']}).tablesorterPager({container: $("#pager")});
        // $('[data-toggle="tooltip"]').tooltip();
      });

      ///////////////////////// Delete Row Functionality - Start /////////////////////////
      var documentValue;

      $("#table tr").on("click", function (e) {
        getRowNumber($(this).index()+1);
        documentValue = $(this).find('td:nth-child(2)').text();
        $("#document").text(documentValue);
      });

      $(".delete-row").on("click", function (e) {
        $('#table-row-'+rownumber).hide(750);
      });

      function getRowNumber(row){
        rownumber = row;
      }
      ///////////////////////// Delete Row Functionality - End /////////////////////////

      $('[data-toggle="tooltip"]').tooltip("hide")

      $("#urn").on("click", function (e) {
        $('#urn').tablesorter();
      });

      $("#name").on("click", function (e) {
        $('#name').tablesorter();
      });

      $("#date").on("click", function (e) {
        $('#date').tablesorter();
      });

      // Approve cookies
      $("#approve").on("click", function (e) {
        $.cookie("document-title", $("#document-title").text(), {path:'/'});
        $.cookie("document-type", $("#document-type").text(), {path:'/'});
        $.cookie("document-creator", $("#document-creator").text(), {path:'/'});
        $.cookie("document-description", $("#document-description").text(), {path:'/'});
        $.cookie("document-date", $("#document-date").text(), {path:'/'});
      });

      function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
      }

      var $rows = $('#table tr');
      $('#search').keyup(function() {

        var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        reg = RegExp(val, 'i'),
        text;

        $rows.show().filter(function() {
          text = $(this).text().replace(/\s+/g, ' ');
          return !reg.test(text);
        }).hide();
      });

      // #Search highlighted - Start

      // #Search highlighted - End


      </script>

      <!-- #EndEditable -->


   {% endblock %}
