{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  LIS Staff View
{% endblock %}

{% block after_header %}

<link type="text/css" rel="stylesheet" media="screen" href="../../../../assets/stylesheets/overrides.css">
<link type="text/css" rel="stylesheet" media="screen" href="../../../../assets/stylesheets/complete.css">
<style>
/* Timeout Modal */

@media (max-width: 640px){
  .timeout-dialog {
    width: 280px !important;
  }
}

.timeout-overlay {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

html.noScroll {
  overflow: hidden;
}

.timeout-dialog {
  z-index: 1002;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 435px;
  padding: 30px;
  border: 5px solid black;
  background-color: #fff;

  p {
    font-size: 19px;
    line-height: 1.31579;
  }

  .countdown {
    display: inline-block;
    white-space: nowrap;
    font-weight: 700;
  }


  .button{
    margin-bottom: 1em;
    font-size: 19px;
  }


  .button.button--link{
    margin: 0;
    padding: .526315em .789473em .263157em;
  }


}

</style>
<div id="menu">
        <div id="menu-content">
            <div class="grid-row">
                <div class="column-full" style="padding-left:30px">
                    <ul>
      <!--                                                <li>
              <a class="menu-button" id="select-box" href="results">Back to search</a>
            </li> -->
                        
                        <li>
                            <div class="form-group">
                                <select class="form-control" id="select-box" name="select-box" onchange="location = this.value;" style="width:200px; margin-left:46em">
                                    <option hidden="" selected>
                                        Date view
                                    </option>
                                    <option value="#">
                                        Oldest
                                    </option>
                                    <option value="#">
                                        Monday, 01 Jan 2018
                                    </option>
                                    <option value="#">
                                        Tuesday, 02 Jan 2018
                                    </option>
                                    <option value="#">
                                        Wednesday, 03 Jan 2018
                                    </option>
                                    <option value="#">
                                        Thursday, 04 Jan 2018
                                    </option>
                                    <option value="#">
                                        Friday, 05 Jan 2018
                                    </option>
                                </select>
                            </div>
                        </li>
                        <li style="float:right">
                            <div class="form-group">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <input class="form-control" id="full-name-f2" name="full-name-f2" placeholder="Search" style="width:85%; padding: 5px 4px 4px; border: 2px solid #0b0c0c;font-size: 19px; line-height: 1.31579; height: 37px; margin:2px 0px 2px 0px;" type="text"> <input class="submit" style=" margin-left:-6.5px; width: 36px; height: 37px; border: 1px solid #005ea5; border-width: 0 0 0 1px; border-left-color: #222; border-radius: 0; overflow: hidden; text-indent: -5000px; color: #fff; background-color: #005ea5; background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png); background-repeat: no-repeat; background-position: 0%; padding-top:4px; padding-bottom:1px" type="submit" value="Search">
                                </div>
                            </div>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content %}




  <main id="content" role="main">

    <!-- #BeginEditable "content" -->


      <h1 class="form-title heading-large">Low Income Scheme digital applications</h1>
  <div class="grid-row">
  <div class="column-quarter">

  <div class="large-numbers">
  
              <p><strong>25</strong><br>Total applications</p>

          </div>
</div>
  <div class="column-quarter">

  <div class="large-numbers">
  
              <p><strong>11</strong><br>To be accepted</p>

          </div>
</div>
<!--   <div class="column-quarter">

  <div class="large-numbers">
  
              <p><strong>9</strong><br>Pending</p>

          </div>
</div>
  <div class="column-quarter">

  <div class="large-numbers">
  
              <p><strong>5</strong><br>Printed</p>

          </div>
</div> -->
</div>
      <!-- Navbar - End -->
<br>


      <!-- Table - Start -->
       <div class="row">
<!--         <div class="small-12 columns"> -->
          <table>
            <thead>
              <tr>
      <!--         <th style="width:50px"></th> -->
                <th style= "width:0%">Date received</th>
                <th style= "min-width: 100px">Reference number</th>
                <th style= "min-width: 200px">Name</th>
                <th style= "width:  ">Date of birth</th>
                <th style= "">Postcode</th>
                 <th style= "">Assessor</th>
                 <th style= "width:100px"><input class="button" type="submit" value="Return to work queue" style="float:right"></th>
                
           <!--      <th width="19%">Registration date</th> -->
              </tr>
            </thead>
            <tbody>
              <tr class="second-row">
<!--               <td><img src="/public/images/web.svg" alt="" style="height:36px;"></td> -->
              <td>01/01/2018</td>
                <td><a href="case">56743897</a></td>
                <td>Shiela Green</td>
                <td>02/04/1984</td>
                <td>NE12 A34</td>
                <td>H1345</td>
                <td>
                  <div class="multiple-choice multiple-radio" style="margin: 0; background-color: transparent; border: none; float:right">
                  <input id="letter" name="contact" type="checkbox" value="letter"> <label for="letter"></label>
                  </div>
                </td>
              </tr>
              <tr class="second-row">
<!--               <td><img src="/public/images/web.svg" alt="" style="height:36px;"></td> -->
              <td>01/01/2018</td>
                <td><a href="">61947226</a></td>
                <td>Donna Goodman</td>
                <td>15/07/1982</td>
                <td>BD12 4WL</td>
                <td>H1345</td>
                <td><div class="multiple-choice multiple-radio" style="margin: 0; background-color: transparent; border: none; float:right">
                  <input id="letter" name="contact" type="checkbox" value="letter"> <label for="letter"></label>
                  </div></td>

              </tr>
              <tr class="second-row">
             <!--  <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
              <td>01/01/2018</td>
                <td><a href="">30423535</a></td>
                <td>Brigitte Cantu</td>
                <td>22/06/1949</td>
                <td>GL54 0RU </td>
                <td>H1345</td>
                <td><div class="multiple-choice multiple-radio" style="margin: 0; background-color: transparent; border: none; float:right">
                  <input id="letter" name="contact" type="checkbox" value="letter"> <label for="letter"></label>
                  </div>
                </td>
              </tr>

              <tr class="second-row">
              <!-- <td><img src="/public/images/web.svg" alt="" style="height:36px;"></td> -->
              <td>01/01/2018</td>
                 <td><a href="">69808437</a></td>
                <td>Victoria Ruddell</td>
                <td>09/10/1972</td>
                <td>EX31 0JA </td>
                <td>H1345</td>
                <td><div class="multiple-choice multiple-radio" style="margin: 0; background-color: transparent; border: none; float:right">
                  <input id="letter" name="contact" type="checkbox" value="letter"> <label for="letter"></label>
                  </div>
                </td>
              </tr>
                            <tr class="second-row">
                          <!--  <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
                            <td>01/01/2018</td>
                <td><a href="">70085168</a></td>
                <td>Dora Ditullio</td>
                <td>23/08/1962</td>
                <td>HP10 2ZU </td>
                <td>H1345</td>
                <td>                  <div class="multiple-choice multiple-radio" style="margin: 0; background-color: transparent; border: none; float:right">
                  <input id="letter" name="contact" type="checkbox" value="letter"> <label for="letter"></label>
                  </div></td>
              </tr>

              <tr class="second-row">
             <!--  <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
              <td>01/01/2018</td>
                <td><a href="">22238522</a></td>
                <td>Patrick Turner</td>
                <td>07/11/1971</td>
                <td>SP4 2PS </td>
                <td>H1345</td>
                <td>                  <div class="multiple-choice multiple-radio" style="margin: 0; background-color: transparent; border: none; float:right">
                  <input id="letter" name="contact" type="checkbox" value="letter"> <label for="letter"></label>
                  </div></td>
              </tr>
              <tr class="second-row">
             <!--  <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
              <td>01/01/2018</td>
                <td><a href="">21567562</a></td>
                <td>Naveen Kumar</td>
                <td>24/05/1985</td>
                <td>LN8 8PE </td>
                <td>H1345</td>
                <td>                  <div class="multiple-choice multiple-radio" style="margin: 0; background-color: transparent; border: none; float:right">
                  <input id="letter" name="contact" type="checkbox" value="letter"> <label for="letter"></label>
                  </div></td>
              </tr>
              <tr class="second-row">
              <!-- <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
              <td>01/01/2018</td>
                 <td><a href="">92673985</a></td>
                <td>Leroy Dennis Gill</td>
                <td>13/04/1956</td>
                <td>S74 8SQ </td>
                <td>H1345</td>
                <td>                  <div class="multiple-choice multiple-radio" style="margin: 0; background-color: transparent; border: none; float:right">
                  <input id="letter" name="contact" type="checkbox" value="letter"> <label for="letter"></label>
                  </div></td>
              </tr>
              <tr class="second-row">
              <!-- <td><img src="/public/images/paper.svg" alt="" style="height:36px; padding-left:4px"></td> -->
              <td>01/01/2018</td>
                <td><a href="">14991422</a></td>
                <td>Liam Dobson</td>
                <td>02/04/1984</td>
                <td>TR3 5BS </td>
                <td>H1345</td>
                <td>                  <div class="multiple-choice multiple-radio" style="margin: 0; background-color: transparent; border: none; float:right">
                  <input id="letter" name="contact" type="checkbox" value="letter"> <label for="letter"></label>
                  </div></td>
              </tr>
              <tr class="second-row">
              <!-- <td><img src="/public/images/web.svg" alt="" style="height:36px;"></td> -->
              <td>01/01/2018</td>
                 <td><a href="">55951057</a></td>
                <td>Jessica Randall</td>
                <td>11/05/1960</td>
                <td>SA63 1EA</td>
                <td>H1345</td>
                <td>                  <div class="multiple-choice multiple-radio" style="margin: 0; background-color: transparent; border: none; float:right">
                  <input id="letter" name="contact" type="checkbox" value="letter"> <label for="letter"></label>
                  </div></td>
              </tr>
            
            </tbody>
          </table>
          <br>

      <!-- ////////////////////////////////////// Modals Section - End ////////////////////////////////////// -->


      <!-- Navbar - Start -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="pagination see-all" style="margin-right:1em">
 <!--            <li><a href="#">See all</a></li> -->
          </ul>
          <ul class="pagination">
            <!-- <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li> -->
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Navbar - End -->



    <!-- #EndEditable -->

  </div>

</main>

<div id="timeout-dialog" class="timeout-dialog" role="dialog" aria-labelledby="timeout-message" tabindex="-1" aria-live="polite">
  <h1 class="heading-medium" style="margin-top:0.5em">This case is already being worked on by another assessor</h1>
  <p id="timeout-message" role="text">You'll be given the next availible case.</p>
<br>

<!--   <button id="timeout-keep-signin-btn" class="button" style="margin-bottom:1em">Stay signed in</button> -->
  <input class="button button--link" style="margin-bottom:1em" type="button" value="Get next case" onclick="window.location.href='assessors'">
<!--   <p><a href="timedout-message2">Cancel application</a><p> -->
<!--   <button id="timeout-sign-out-btn" class="button button--link">Sign out</button> -->

<!--   <input class="button button--link" type="button" value="Sign out" onclick="window.location.href='timedout-message2'"> -->
</div>

<div id="timeout-overlay" class="timeout-overlay"></div>
</div>
  </div>
</div>
<script>
$.timeoutDialog({
  timeout: 900,
  countdown: 120,
  keep_alive_url: '/keep-alive',
  logout_url: '/sign-out',
  keep_alive_button_text: 'Get another 15 minutes',
  sign_out_button_text: 'Sign out'
});
</script>


{% endblock %}
