{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay an NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div class="phase-banner">
                <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>
            </div>
        </div>
        <div class="column-two-thirds">
            <div class="done-panel">
                <!-- If the user is paying the full amount or they are making a single instalment payment then display the amount paid -->
                <h1 class="heading-large"><span id="done-tick"> </span>Done</h1>
                {% if (followup == 1) %}
                <h2 class="heading-medium">Thank you. You have paid £258 from Penalty Charge Notice number {{pcnnumber}}</h2>
                {% else %}
                <h2 class="heading-medium">Thank you. You have paid £{{plan}} from Penalty Charge Notice number {{pcnnumber}}</h2>
                {% endif %}
            </div>
            {% if (plan == 344) or (followup == 1) or (followup == 2) %}
            <h3 class="heading-medium">This Penalty Charge Notice is now closed.</h3>
        {% else %}
          <h3 class="heading-medium">Next payment</h3> 
          <p>Your next payment of £{{plan}} is due on 18 November 2017.</p>
          <p>As long as you keep up payments there will be no further charges added to you account.</p>
      {% endif %}
            <h3 class="heading-medium">How to avoid penalties in the future</h3>
            <ul class="list list-bullet">
                <li>Make sure that your GP and dentist have your correct home address</li>
                <li>If you receive benefits or have an exemption certificate, make sure that the relevant organisations have your correct home address</li>
                <li>If you have an exemption certificate, make sure it does not expire</li>
                <li>For more information visit www.nhsbsa.nhs.uk/penaltycharges</li>
            </ul>
            <p>
                <a class="" href="../challenge/penalty-view">Make another payment</a>
            </p>
            <h2 class="heading-medium">Feedback</h2>
            <p>Leaving feedback only takes five minutes. Your comments are extremely helpful and will help us to provide a better service.</p>
            <p>
                <a class="" href="receipt">Leave feedback</a>
            </p>
        </div>
    </div>
    <p id="usermail"class="visually-hidden">{{hasmail}}</p>
</main>

{% endblock %}
