{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
    
        <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
    
        <div class="column-two-thirds">

			<div id="back">
		<a href="javascript:history.go(-1)" id="back-button" class="link-back">Back</a>
		<script type="text/javascript">
			document.getElementById('back-button');
		</script>
	</div>

    <div class="heading-group">
    
      <p>Pay an NHS Penalty Charge Notice</p>

      <h1 class="heading-large">Paying in instalments</h1>

    </div>
            
                      <p>
            Instalments help you pay your penalty charge by spreading the payment over a number of months
          </p>

          <p>
            You must make the first payment today.
          </p>

          <p>
            It is your responsibility to make a payment each month. You can return to this service at any time to make a payment.
          </p>
            
            <p>
                <a href="options" class="button">Next</a>
            </p>


        </div>
    </div>

</main>

{% endblock %}
