{% extends "bsa_website.html" %}

{% block navigation %}
  <main id="main-content" class="main_body">




        
          

{% endblock %}

{% block content %}




  <div class="expander-wrap">
    <h3 class="expander">How to avoid penalty charges</h3>

    <div class="expander-content">
      <ul>
        <li>
          <span class="strong">
            Update your personal details
          </span>
          <p>
            You must make sure that your GP surgery, dental practice, benefits organisations and the NHS Business Services Authority have your correct name and address. If these details are not kept up to date you may be sent a Penalty Charge Notice, even if you are entitled to free prescriptions or dental treatment.
          </p>
        </li>
        <li>
          <span class="strong">
            Tick the right box
          </span>
          <p>
            If you tick the wrong box on your prescription or dental declaration form, your claim won’t match your exemption details. If they don’t match, you are at risk of getting a Penalty Charge Notice.
          </p>
          <p>
            When you complete the back of a prescription form or a dental declaration, it is your responsibility to make sure you tick the correct box.
          </p>
          <p>
            If someone is collecting prescriptions on your behalf, make sure they know to tick the correct box on the back of the prescription. If dental staff are completing your dental form for you to sign, make sure they have ticked the right box for your eligibility.
          </p>
        </li>
        <li>
          <span class="strong">
            Make sure your exemption certificate or prescription prepayment certificate is still valid
          </span>
          <p>
            If you have an NHS medical exemption or maternity exemption, a Tax Credit exemption, or a prescription prepayment certificate, make sure the certificate is still valid. Check the expiry date and renew it when it expires. If your card has expired, do not continue to claim.
          </p>
        </li>
        <li>
          <span class="strong">
            Don’t claim if you are no longer eligible
          </span>
          <p>
            If your circumstances change and you are no longer eligible to claim free NHS prescriptions or dental treatment, do not continue to claim. You could face a penalty charge of up to £100, as well as the original prescription charges.
          </p>
        </li>
      </ul>
    </div>
  </div>






           
                             
   








  </main>


{% endblock %}
