{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay or challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <p>
    <a href="/"> < Back to all prototypes</a>
  </p>
  
  <h1 class="heading-xlarge">Penalty Charge Notices</h1>

  <h2 class="heading-large">Challenge Prototypes</h2>
      
  <ul class="list list-bullet">
    <li><a href="challenge/">Version 2 - September/October 2017</a></li>
  </ul>
  
  <hr>
  
  <h3 class="heading-small">Version 1 - Early September 2017</h3>
  
  <p>
    <span class="strong">What we tested</span> - Version 1 of the challenge journey was created as a proof of concept to investigate the feasibility of challenging a penalty charge online.
  </p>
    
  <ul class="list list-bullet">
    <li><a href="/public/images/prototypes/3/challenge/v1-a.pdf">Simple maternity exemption confirmed</a></li>
    <li><a href="/public/images/prototypes/3/challenge/v1-b.pdf">Pregnant but has no certificate</a></li>
    <li><a href="/public/images/prototypes/3/challenge/v1-c.pdf">Actually has Tax Credits with a reference number</a></li>
    <li><a href="/public/images/prototypes/3/challenge/v1-d.pdf">Has Tax Credits with new details</a></li>
    <li><a href="/public/images/prototypes/3/challenge/v1-e.pdf">User gives no new details</a></li>
  </ul>
  
</main>

{% endblock %}
