{% extends "layout_bsa.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
    
  </div>

  <h1 class="heading-xlarge">Single User View</h1>
    
    <p>Internal facing single user view that displays multiple PCN's for single users. This should help identify repeat offenders or recurring issues with vulnerable people building up many large penalties.</p>

  <h3 class="heading-large">Prototypes</h3>

  <ul class="list list-bullet">
    <li><a href="">Internal single user view with mutliple PCN's</a></li>
  </ul>

</main>

{% endblock %}
