{% extends "layout_bsa.html" %}

{% block page_title %}
  LIS staff view
{% endblock %}

{% block content %}

<main id="content" role="main">


  <h1 class="heading-xlarge">Low Income Scheme staff views</h1>
    
    <p>Internal facing view for LIS assessors and managers to enable them to view and gain reports on the digital applications. <br>This will enable gradual functionality of CRS being transfered to this'one-stop-shop' interface.</p>

  <h2 class="heading-large">Prototype</h2>
      <h3 class="heading-medium">Phase 2- inital design</h3>
      <ul class="list list-bullet">

    <li><a href="bo/pcn2">Assessors View</a></li>
<!--     <li><a href="bo/search-form">Managers Views</a></li> -->


  </ul>
    
             

</main>

{% endblock %}
