{% extends "layout_bsa.html" %}

{% block page_title %}
  LIS staff view
{% endblock %}

{% block content %}

<main id="content" role="main">


  <h1 class="heading-xlarge">Low Income Scheme staff views</h1>
    
    <p>Internal facing view for LIS assessors and managers to enable them to view and gain reports on the digital applications. <br>This will enable gradual functionality of CRS being transfered to this'one-stop-shop' interface.</p>

  <h2 class="heading-large">Prototype</h2>
      <h3 class="heading-medium">Phase 2- without CRS data</h3>

<ul class="list list-bullet">

    <li><a href="phase2/logon2">Sign in</a></li>
    <li><a href="phase2/case">Application view</a></li>
    <li><a href="phase2/admin">Admin overview (how many applications per date)</a></li>
    <li><a href="phase2/assessors-modal">Assessor modal- someone has claimed case (showing interaction)</a></li>
    <li><a href="phase2/anothercase-modal">Assessor modal- someone has claimed case</a></li>
    <li><a href="phase2/assessors">Assessor homepage</a></li>
    <li><a href="phase2/assessors-end">Assessor homepage- with no more of date left to work</a></li>

  </ul>
      <h3 class="heading-medium">Phase 2- inital design</h3>
      <ul class="list list-bullet">

    <li><a href="bo/logon2">Sign in</a></li>
    <li><a href="bo/pcn2">Application view</a></li>
    <li><a href="bo/admin">Admin overview (how many applications per date)</a></li>
    <li><a href="bo/assessors">Assessor homepage</a></li>

  </ul>
    
</main>

{% endblock %}
