{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay or challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">

  <p>
    <a href="/"> &#60; Back to all prototypes</a>
  </p>

  <h1 class="heading-xlarge">Penalty Charge Notices</h1>

  <h2 class="heading-large">Pay Prototypes</h2>

  <h3 class="heading-small">Version 4 - Early October 2017 - payment plans experimental</h3>
  <ul class="list list-bullet">
    <li><a href="pay-a-penalty/start">Pay start</a></li>
  </ul>

    <h3 class="heading-small">Email content</h3>

  <ul class="list list-bullet">
    <li><a href="pay-a-penalty/emails/receipt">Payment for Prescription Charges - with outstanding balance</a></li>
    <li><a href="pay-a-penalty/emails/last-receipt">Payment for Prescription Charges - with no outstanding balance</a></li>
    <li><a href="pay-a-penalty/emails/reminder">Payment reminder</a></li>
  </ul>

  <hr>

  <h3 class="heading-small">Version 3 - Late September 2017 - capita portal changes</h3>

  <ul class="list list-bullet">
    <li><a href="pay/combined">New combined email questions</a></li>
    <li><a href="pay/start">Pay start</a></li>
  </ul>

  <h3 class="heading-small">Email content</h3>

  <ul class="list list-bullet">
    <li><a href="pay/receipt">Payment for Prescription Charges - with outstanding balance</a></li>
    <li><a href="pay/receipt-0">Payment for Prescription Charges - with no outstanding balance</a></li>
  </ul>

  <hr>

    <h3 class="heading-small">Version 2 - Late September 2017</h3>

  <ul class="list list-bullet">
    <li><a href="pay/start">Pay start</a></li>
  </ul>

  <h3 class="heading-small">Email content</h3>

  <ul class="list list-bullet">
    <li><a href="pay/receipt">Payment for Prescription Charges - with outstanding balance</a></li>
    <li><a href="pay/receipt-0">Payment for Prescription Charges - with no outstanding balance</a></li>
  </ul>

<!--   <h3 class="heading-small">Version 2 - Late September 2017</h3>

  <ul class="list list-bullet">
    <li><a href="/public/images/prototypes/2/pay/v2.pdf">Payment for Prescription Charges - with outstanding balance</a></li>
  </ul>

  <h3 class="heading-small">Email content</h3>

  <ul class="list list-bullet">
    <li><a href="pay/receipt">Payment for Prescription Charges - with outstanding balance</a></li>
    <li><a href="pay/receipt-0">Payment for Prescription Charges - with no outstanding balance</a></li>
  </ul> -->

  <hr>

  <h3 class="heading-small">Version 1 - Early September 2017</h3>

  <p>
    <span class="strong">What we tested</span> - A revised version of our current pay platform updated to NHSBSA design standards. Removing unnecessary fields, making the site clearer and responsive to smaller screen sizes.
  </p>

  <ul class="list list-bullet">
    <li><a href="/public/images/prototypes/1/pay/v1.pdf">Payment for Prescription Charges - with outstanding balance</a></li>
  </ul>

</main>

{% endblock %}