{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay or challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">

  <p>
    <a href="/"> < Back to all prototypes</a>
  </p>

  <h1 class="heading-xlarge">Penalty Charge Notices</h1>

  <h2 class="heading-large">Web prototypes</h2>

  <h3 class="heading-small">Version 3 - Late September 2017</h3>

  <ul class="list list-bullet">
    <li><a href="/bsa/penalty-charges-links">Penalty charges home - (2 links to pay)</a></li>
    <li><a href="/bsa/penalty-charges">Penalty charges home - (2 buttons to pay)</a></li>
    <li><a href="/bsa/pay_buttons">Pay page</a></li>
    <li><a href="/bsa/appeal">Challenge page</a></li>
    <li><a href="/bsa/help">"Who is entitled.." page</a></li>
    <li><a href="/bsa/caught_out">"Penalty charges – don’t get caught out" page</a></li>
    <li><a href="/bsa/info">"What are NHS penalty charges?" page</a></li>

  </ul>

  <hr>

  <h3 class="heading-small">Version 2 - Late September 2017</h3>

  <ul class="list list-bullet">
    <li><a href="/public/images/prototypes/3/web/v3-links.pdf">Penalty charge notices home (2 links to pay)</a></li>
    <li><a href="/public/images/prototypes/3/web/v3-buttons.pdf">Penalty charge notices home (2 buttons to pay)</a></li>
  </ul>

  <h3 class="heading-small">Version 1 - June 2017</h3>

  <ul class="list list-bullet">
    <li><a href="/public/images/prototypes/1/web/v1.pdf">Penalty charge notices home</a></li>
  </ul>

</main>

{% endblock %}
